body {
    background-color: black;
    color: white;
}

div {
    width: 50%;
    margin-left: 25%;
}

img {
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

div img {
    border: 5px solid white;
}

h1 {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}

p {
    text-align: center;
    font-family: "Libre Baskerville", serif;
}